<div class="hero">
  <br/>
  <div class="frosty-container col-10 offset-1 text-center">
      <br/>
      <h1>Learn to Code</h1>
      <br/>
      <h2>from the best programmers</h2>
      <br/>
      <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
      <br/>
      <br/>
  </div>
</div>

<br />
<div class="row summary-container text-center">
  <div class="col-12 col-sm">
    <h3>Learn</h3>
    <p class="justify-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Sed malesuada velit quis libero dapibus iaculis.
      Nam laoreet, odio ac convallis porttitor, lectus purus molestie felis, quis pulvinar
      dui metus vitae libero. Donec euismod neque purus, egestas sollicitudin libero ullamcorper at.
      Curabitur dignissim urna at ultricies tempor.
      Vivamus neque nibh, egestas eget ex vel, posuere dapibus erat.
      Aenean dapibus justo quis neque facilisis, sit amet mattis nunc gravida.
      Nunc commodo facilisis sapien, quis cursus lectus varius id.
      Aenean eu nunc quis augue dapibus bibendum sit amet eget diam.
      </p>
  </div>

  <div class="col-12 col-sm">
    <h3>Connect</h3>
        <p class="justify-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed malesuada velit quis libero dapibus iaculis.
          Nam laoreet, odio ac convallis porttitor, lectus purus molestie felis, quis pulvinar
          dui metus vitae libero. Donec euismod neque purus, egestas sollicitudin libero ullamcorper at.
          Curabitur dignissim urna at ultricies tempor.
          Vivamus neque nibh, egestas eget ex vel, posuere dapibus erat.
          Aenean dapibus justo quis neque facilisis, sit amet mattis nunc gravida.
          Nunc commodo facilisis sapien, quis cursus lectus varius id.
          Aenean eu nunc quis augue dapibus bibendum sit amet eget diam.
          Sed at pretium ex. </p>
  </div>

  <div class="col-12 col-sm">
    <h3>Do</h3>
        <p class="justify-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Sed malesuada velit quis libero dapibus iaculis.
          Nam laoreet, odio ac convallis porttitor, lectus purus molestie felis, quis pulvinar
          dui metus vitae libero. Donec euismod neque purus, egestas sollicitudin libero ullamcorper at.
          Curabitur dignissim urna at ultricies tempor.
          Vivamus neque nibh, egestas eget ex vel, posuere dapibus erat.
          Aenean dapibus justo quis neque facilisis, sit amet mattis nunc gravida.
          Nunc commodo facilisis sapien, quis cursus lectus varius id.
        </p>
  </div>
</div>
