<div class="hero">
  <br/>
  <div class="frosty-container col-10 offset-1 text-center">
      <br/>
      <h1>Learn to Code</h1>
      <br/>
      <h2>from the best programmers</h2>
      <br/>
      <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
      <br/>
      <br/>
  </div>
</div>

<br />
<div class="row summary-container text-center">
  <div class="col-12 col-sm">
    <h3>Learn</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Connect</h3>
  </div>

  <div class="col-12 col-sm">
    <h3>Do</h3>
  </div>
</div>
