<br/>

<h1 class="text-center purple-text"> <%= current_lesson.title %> </h1>
<p class="text-center purple-text"><%= current_lesson.subtitle %> </p>

 <%= link_to 'Video', current_lesson.video.to_s %>

<br/>
