<br/>

<h1 class="text-center purple-text"> <%= @course.title %> </h1>

<br/>

<div class="course-info purple-text">
    <div class="row">
      <div class="col-sm-4 col-12">
        <span class="badge badge-default"><%= number_to_currency @course.cost %></span>
      </div>

      <div class="col-sm-8 col-12">
        <%= @course.description %>
      </div>

      <% if current_user && current_user == @course.user %>
        <br/>
        <br/>
        <%= link_to 'Admin', instructor_course_path(@course), class: ' btn btn-success' %>
      <% end %>
    </div>
</div>
