@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


/*tag styles*/

body{
  font-family: 'Open Sans', sans-serif;
  color:#FFE1EA;
  // background: image_url('bg.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

h2{
  text-align: center;
  margin: 5px;
}

h1{
  text-align:center;
  margin-bottom: 10px;
}

a{
  color: #8AEA92;
}


ul{
  padding:0;
  list-style-position:inside;
}



/*Custom Bootstrap*/
.navbar{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('office.png');
}

.navbar-inverse a.navbar-brand{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #D828BC;

}

.btn-success{
  background-color: #8AEA92;
  border-color: #8AEA92;
  color: #4B296B;
  margin:5px;
}

.alert-info{
  background-color:rgba(255,255,255,0.8);
  border-color: white;
  color: #4B296B;
}

.alert-danger{
  background-color:rgba(216,40, 188,0.5);
  border-color: #D828BC;
  color: #4B296B;
}

/*custom simple_form*/

.help-block {
  color: #D828BC;
  padding: 2px 8px 2px 8px;
  font-size: 0.8em;
  background-color: rgba(255,255,255,0.2);
  margin: 10px;
}


/*custom classes*/

/*static page styling*/
.hero{
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}


.frosty-container {
  background: rgba(0, 0, 0, 0.5);
  color:rgb(252,214,251);
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #FFE1EA;
}



.summary-container{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: #4B296B;
}

/*alert styling*/

.alerts{
  margin:10px;
  z-index:2;
  position: absolute;
  left: 40%;
}


/*course presentation*/

.course-info{
  padding:10px;
  margin:10px;

}

.course-container{
  padding:15px;
  margin:15px;
  background-color: rgba(0,0,0,0.8);
}

.section{
  color: #D828BC;
  padding:10px;
  margin:10px;

}

.section-title{
  list-style: none;

}

.lessons{
  padding:20px;
  margin:10px;
  background: image_url('office.png');
  font-weight: 100;
  font-size: 15px;
  height:300px;
}

.sortable-list-lesson li{
  background-color: rgba(255,255,255,0.1);
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
}

.lesson-title{
  color:#FFE1EA;
}

.photo-container-large{
  max-width:400px;
}

.photo-container-small{
  max-width:200px;
}




/*styling for forms*/

.form-style{
  color: #4B296B;
  padding: 10px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.2);
  max-width: 400px;
}

.form-style a{
  color:#D828BC;

}

/*text styling*/

.purple-text{
  color: #4B296B;

}

.pink-text{
  color:#D828BC;
}

.bold{
  font-weight: bold;
}

/*misc*/

.center-align{
  margin-left:auto;
  margin-right:auto;
}


.clr{
  clear:both;
}
