@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body{
  font-family: 'Open Sans', sans-serif;
  color:#FFE1EA;
  // background: image_url('bg.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.navbar{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('office.png');
}

.navbar-inverse a.navbar-brand{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #D828BC;

}


.hero{
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}


.frosty {
  background: rgba(0, 0, 0, 0.5);
  color:rgb(252,214,251);
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #FFE1EA;
}

.btn-success{
  background-color: #8AEA92;
  border-color: #8AEA92;
  color: #4B296B;
}

.feature{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: #4B296B;
}

.info{
  margin:10px;
  z-index:2;
  position: absolute;
  left: 15px;
}



.form-style{
  color: #4B296B;
  padding: 10px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgba(0,0,0,0.2);
  max-width: 400px;
}

.purple-text{
  color: #4B296B;

}

h2{
  text-align: center;
  margin: 5px;
}

.help-block {
  color: #D828BC;
  padding: 2px 8px 2px 8px;
  font-size: 0.8em;
  background-color: rgba(255,255,255,0.2);
  margin: 10px;
}

a{
  color: #8AEA92;
}

.form-style a{
  color:#D828BC;

}

.pink-text{
  color:#D828BC;
}

.alert-info{
  background-color:rgba(255,255,255,0.8);
  border-color: white;
  color: #4B296B;
}

.alert-danger{
  background-color:rgba(216,40, 188,0.5);
  border-color: #D828BC;
  color: #4B296B;
}


.course-info{
  padding:10px;
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;

}

ul{
  padding:0;
}

.clr{
  clear:both;
}
