@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import "font-awesome-sprockets";
@import "font-awesome";


/*tag styles*/

body{
  font-family: 'Open Sans', sans-serif;
  color:#FFE1EA;
  // background: image_url('bg.png');
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}


a{
  color: #8AEA92;
  text-decoration: none;
}

a:hover{
  color: #6ebb74;
  text-decoration: none;
}
a:active{
  color: #6ebb74;
  text-decoration: none;
}


ul{
  padding:0;
  list-style-position:inside;
  list-style-type:none;
}

img{
  border: 2px solid #4B296B;
  margin-bottom: 15px;
}






/*Custom Bootstrap*/
.navbar{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('office.png');
}

.navbar-inverse a.navbar-brand{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #D828BC;

}

.btn-success{
  background-color: #8AEA92;
  border-color: #8AEA92;
  color: #4B296B;
  margin:5px;
}
.btn-primary{
  background-color: #D828BC;
  border-color: #D828BC;
  color: #4B296B;
  margin:5px;
}

.alert-info{
  background-color:rgba(138, 234, 146,0.9);
  border-color: #8AEA92;
  color: #4B296B;
}

.alert-danger{
  background-color:rgba(216,40, 188,0.9);
  border-color: #D828BC;
  color: #4B296B;
}

/*alert styling*/

.alerts{
  margin:10px;
  z-index:2;
  position: absolute;
}

/*custom simple_form*/

.help-block {
  color: #D828BC;
  padding: 2px 8px 2px 8px;
  font-size: 0.8em;
  background-color: rgba(255,255,255,0.2);
  margin: 10px;
}

/*custom font-awesome*/
.fa-ellipsis-v{
  margin-right:20px;
}


/*custom classes*/

/*static page styling*/
.hero{
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}


.frosty-container {
  background: rgba(0, 0, 0, 0.5);
  color:rgb(252,214,251);
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #FFE1EA;
}



.summary-container{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  color: #4B296B;
}




/*course presentation*/

.course-info{
  padding-top:25px;
  padding-bottom:25px;
  margin:15px;
}

.course-container{
  padding:15px;
  margin: 15px 25px;
  background-color: rgba(0,0,0,0.1);
}

.section{
  color: #D828BC;
  padding:10px;
  margin:10px;

}

.section-title{
  list-style: none;

}

.lessons{
  padding:20px;
  margin:10px;
  background: image_url('office.png');
  font-weight: 100;
  font-size: 15px;
  min-height:300px;
}

.sortable-list-lesson li{
  background-color: rgba(255,255,255,0.1);
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
}

.lesson-title{
  color:#FFE1EA;
}

/*dashboard styling*/

.teaching{
  margin:15px;

}

.enrolled{
  margin:15px;

}





/*styling for forms*/

.page-border{
  margin:10px;

}

.form-style{
  color: #4B296B;
  padding: 10px;
  margin:10px auto;
  background-color: rgba(0,0,0,0.2);
  max-width: 400px;
}

.form-style a{
  color:#D828BC;

}

/*text styling*/

.purple-text{
  color: #4B296B;

}

.pink-text{
  color:#D828BC;
}

.bold{
  font-weight: bold;
}

.small-text{
  font-size:8px;
}

.justify-text{
  text-align: justify;
}


/* footer */

#flex-content-container {
  flex: 1;
}

#footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: rgba(36, 32, 33, 0.9);
  color: white;
  padding: 10px 0px;
  margin-top: 30px;
  font-weight: 100;
}

.social-button{
  margin:4px;
}

.footer-section{
  padding-bottom:15px;

}

/*misc*/



.clr{
  clear:both;
}
